/pythonInterpeterExample/pythonjavaintegration/nbproject/private/
/pythonInterpeterExample/pythonjavaintegration/build/
/pythonInterpeterJava/pythonjavaintegration/build/
/pythonInterpeterJava/pythonjavaintegration/nbproject/private/
