/pythonInterpeterExample/pythonjavaintegration/nbproject/private/
/pythonInterpeterExample/pythonjavaintegration/build/
/pythonInterpeterJava/pythonjavaintegration/build/
/pythonInterpeterJava/pythonjavaintegration/nbproject/private/
/jpypeExampleProject/target/
/pythonInterpeterJava/pythonjavaintegration/dist/
/JaPy/pythonjavaintegration/nbproject/private/
/JaPy/pythonjavaintegration/build/
/FinalProject/JaPy/target/
/JaPy/target/
